header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    margin: 1% 5% 0;

    .logo img {
        height: 60px;
    }

    nav a {
        margin: 0 15px;
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 20px;
        position: relative;
        padding-bottom: 5px;

        &.active {
            color: #ff6060;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background-color: #ff6060;
            }
        }

        &:hover {
            color: #ff6060;
        }
    }
}
