.banner {
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
    height: 223px;
    margin: 0 5%;
    border-radius: 15px;
    background-image: "";
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 15px;
    }
    .banner-overlay {
        position: relative;
        z-index: 1;
    }
    .banner h1 {
        margin: 0;
        z-index: 2;
    }
}

// @media (max-width: 768px) {
//     .banner {
//         padding: 20px;
//         margin: 0 10px;
//     }
//     .banner h1 {
//         font-size: 1.5em;
//     }
// }
