.card {
    background: linear-gradient(to top, #b83e3e, #ff6060);
    padding: 20px;
    color: white;
    border-radius: 8px;
    display: flex;
    align-items: flex-end;
    height: 230px;
    width: 230px;
    cursor: pointer;
    &:hover {
        filter: brightness(1.3);
        transition: ease-in-out 1s;
    }
    .card-content {
        margin: 10px;
    }
    .card-title {
        font-size: 1.2em;
        font-weight: bold;
    }
}

// @media (max-width: 768px) {
//     .card {
//         width: 90%;
//     }
// }
