.home {
    text-align: center;
    .card-container {
        background-color: var(--greyBackground);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px 20%;
        border-radius: 10px;
        height: 34em;
        margin: 1.2% 5%;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    .load-more-btn {
        display: block;
        margin: 20px auto;
        padding: 10px 20px;
        font-size: 1em;
        color: white;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #0056b3;
        }
    }
}

// @media (max-width: 768px) {
//     .card-container {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         margin: 0;
//     }
//     .home {
//         margin: 20px;
//     }
// }
