footer {
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    p {
        font-size: 24px;
        margin: 0 0 8%;
        @media (max-width: 769px) {
            font-size: 12px;
            margin: 0 38% 8%;
        }
    }

    .logoFooter {
        margin: 8% 5% 0;
        height: 40px;
        filter: invert(1) grayscale(1) brightness(2);
        margin-bottom: 10px;
    }
}
