.logement {
    padding: 20px;
    margin: 0 auto;
    font-family: "Arial", sans-serif;

    .info-container {
        .logement-info {
            margin-bottom: 20px;

            .dropdown-container {
                display: flex;
                gap: 8%;
                margin: 0px 5.9%;

                .dropdown-content {
                    p {
                        margin: 0;
                    }

                    ul {
                        list-style: none;
                        padding: 0;

                        li {
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}
